<p style="color: green"><%= notice %></p>

<%= render @cart %>

<div>
  <%= link_to "Edit this cart", edit_cart_path(@cart) %> |
  <%= link_to "Back to carts", cart_path(current_user.cart) %>

  <%= button_to "Destroy this cart", @cart, method: :delete %>

  <%= button_to "Confirmer la commande", orders_show_path(@cart), method: :post, class: 'btn btn-primary' %>
</div>
